<div class="detail-container px-5">
  <%= render partial: 'shared/detail/header', locals: {title: 'Brand Partners'} %>
  <%= render  'shared/detail/content_container' do %>
      <%= render 'shared/detail/content_body_container' do %>
        <p class="row" >
          <small class="col-lg-4">Name</small>
          <small class="col-lg-8 fw-bold"><%= @brand_partner.name %></small>
        </p>

        <p class="row">
          <small class="col-lg-4">Category</small>
          <small class="col-lg-8 fw-bold"><%= @brand_partner.brand_category.name %></small>
        </p>

        <p class="row">
          <small class="col-lg-4">Created At</small>
          <small class="col-lg-8 fw-bold"><%= @brand_partner.created_at.strftime('%Y-%m-%d') %></small>
        </p>

        <p class="row">
          <small class="col-lg-4">Updated At</small>
          <small class="col-lg-8 fw-bold"><%= @brand_partner.updated_at.strftime('%Y-%m-%d') %></small>
        </p>
      <% end %>
    <%= render partial: 'shared/detail/footer', locals: {return_path: brand_partners_path , edit_path: edit_brand_partner_path(@brand_partner) ,
     destroy_path: brand_partner_path(@brand_partner), record: @brand_partner} %>
  <% end %>
</div>


