<%= render 'shared/back_button' %>
<%= render 'layouts/auth_layout' do %>
    <% if @brand_partner.persisted?%>
      <%= render 'shared/form_title', locals:{title: 'UPDATE BRAND PARTNER' }%>
    <% else %>
        <%= render 'shared/form_title', locals:{title: 'CREATE BRAND PARTNER' }%>
    <% end %>
  <div class="p-3">
      <%= form_with(model: brand_partner) do |form| %>
      <div class="mb-4">
        <%= render partial: 'shared/label_with_errors', locals: {form: form, field_name: :name, record: brand_partner} %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-4">
        <%= render partial: 'shared/label_with_errors', locals: {form: form, field_name: :brand_category, record: brand_partner} %>
        <%= form.select :brand_category_id, BrandCategory.order(:name).map { |brand_category| [brand_category.name, brand_category.id] }, {prompt: "Select Category"}, {class: 'form-select'} %>
      </div>

      <div class="mb-4">
        <%= render partial: 'shared/label_with_errors', locals: {form: form, field_name: :image, record: brand_partner} %>
        <% if brand_partner.image.attached? %>
          <%= form.hidden_field :image, value: brand_partner.image.signed_id %>
        <% end %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>

      <div class="mt-3">
          <% unless @brand_partner.persisted?%>
              <%= form.submit "Create", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
          <% else %>
              <%= form.submit "Update", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
          <% end %>      
      </div>
    <% end %>
  </div>
<% end %>

