<%= render @brand_partner %>

<div class="px-5 mt-5">
    <%= render partial: 'shared/detail/header', locals: {title: 'Items'} %>
    <div class="my-3">
        <%= render 'shared/create_button', locals: {link: new_brand_partner_item_path(@brand_partner)} %>
    </div>
    <%  unless @items.empty? %>
        <ul class=" mt-4 row ">
            <% @items&.each do |item| %>
                <%= render partial: 'items/item', locals: {item: item, brand_partner: @brand_partner}%>
            <% end %>
        </ul>
    <% else %>
        <%= render 'shared/no_data' %>
    <% end %>
</div>


