<div>
  <%=render 'shared/carousel', blog: @blog  %>
</div>

<div id="<%= dom_id blog %>">
  <p>
    <strong>Images:</strong>
    <% blog.images.each do |image| %>
      <div ><%= image_tag url_for(image), size: "300x200", class:'' %></div>
    <% end %>
  </p>

  <p>
    <strong>Videos:</strong>
    <% blog.videos.each do |video| %>
      <div><%= video_tag url_for(video), size: "300x200", controls: true %></div>
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= blog.category_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

  <p>
    <strong>Views count:</strong>
    <%= blog.views_count %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= blog.blog_status %>
  </p>

  <p>
    <strong>Delete flg:</strong>
    <%= blog.delete_flg %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>



</div>
