<div class="detail-container px-5">
<%= render partial: 'shared/detail/header', locals: {title: 'Blog'} %>
<%= render  'shared/detail/content_container' do %>
  <h5 class="border p-4">Blog detail</h5>
  <%= render 'shared/detail/content_body_container' do %>
     <div class="d-flex justify-content-between gap-3 mb-4">
      <h1 class="fw-bold text-black mb-2 " style="max-width: 75%"><%= blog.title %></h1>
        <small class="d-flex flex-column">
        <span class="text-muted">(<%= time_ago_in_words(blog.created_at) %> ago)</span>
        <span class="text-muted"><%= calculate_minutes(get_word_count(blog.content.to_plain_text)) %> minutes to read</span>
        </small>
     </div>
        <% if blog.image.attached?%>
            <figure class="d-flex justify-content-center align-items-center w-100 overflow-hidden">
            <%= image_tag url_for(blog.image), class:'object-fit-cover w-50' %>
            </figure>
        <% end %>
        <div class="p-0">
            <%= blog.content %>
        </div>
  <% end %>
    <%= render partial: 'shared/detail/footer', locals: {return_path: blogs_path , edit_path: edit_blog_path(blog),
       destroy_path: blog_path(blog), record: blog.title} %>
    <% end %>
</div>

