<div class="detail-container px-5">
<%= render partial: 'shared/detail/header', locals: {title: 'Blog'} %>
<%= render  'shared/detail/content_container' do %>
  <h5 class="border p-4">Blog detail</h5>
  <%= render 'shared/detail/content_body_container' do %>
      <div class='blog-carousel mb-4'>
        <%= render partial: 'shared/stimulus_carousel', locals: {images: (blog.images + blog.videos)}%>
      </div>
      <p class="row" >
          <small class="col-lg-4">Title</small>
          <small class="col-lg-8 fw-bold"><%= blog.title %></small>
      </p>
      <p class="row" >
          <small class="col-lg-4">Category</small>
          <small class="col-lg-8 fw-bold"><%= blog.category.name %></small>
      </p>
      <p class="row" >
          <small class="col-lg-4">Content</small>
          <small class="col-lg-8 fw-bold"><%= blog.content %></small>
      </p>
      <p class="row" >
          <small class="col-lg-4">Status</small>
          <small class="col-lg-8 fw-bold"><%= blog.blog_status %></small>
      </p>
      <p class="row" >
          <small class="col-lg-4">Created At </small>
          <small class="col-lg-8 fw-bold"><%= format_date(blog.created_at) %></small>
      </p>
      </p>
      <p class="row" >
          <small class="col-lg-4">Updated At </small>
          <small class="col-lg-8 fw-bold"><%= format_date(blog.updated_at) %></small>
      </p>
  <% end %>
    <%= render partial: 'shared/detail/footer', locals: {return_path: categories_path , edit_path: edit_blog_path(blog),
       destroy_path: blog_path(blog), record: blog.title} %>
<% end %>
</div>

