<%= render 'layouts/auth_layout' do %>
  <% if @blog.persisted?%>
    <%= render 'shared/form_title', locals:{title: 'UPDATE BLOG' }%>
  <% else %>
      <%= render 'shared/form_title', locals:{title: 'CREATE BLOG' }%>
  <% end %>
  <div class="p-3">
    <%= form_with(model: blog) do |form| %>
      <div class="mb-4">
        <%= form.label :category_id, style: "display: block", class:'form-label' %>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "Select a category"}, {class: 'form-select'} %>
      </div>

      <div class=" mb-4">
        <%= form.label :content, style: "display: block", class:'form-label' %>
        <%= form.text_area :content, class: 'form-control' %>
      </div>


      <div class="mb-4">
        <%= form.label :title, style: "display: block", class:'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

  <div class="mb-4">
    <div>
      <%#= render partial: 'shared/stimulus_carousel', locals: {images: (blog.images + blog.videos)}%>
      <% blog.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>
      <% blog.videos.each do |video| %>
        <%= form.hidden_field :videos, multiple: true, value: video.signed_id %>
      <% end %>
    </div>
  </div>

      <div class="mb-4">
        <%= form.label :images, "New Images", class: 'form-label' %>
        <%= form.file_field :images, multiple: true, class: 'form-control' %>
      </div>

      <div class="mb-4">
        <%= form.label :videos, "New Videos", class: 'form-label' %>
        <%= form.file_field :videos, multiple: true, class: 'form-control' %>
      </div>

      <div class="">
        <% if @blog.persisted?  %>
          <%= form.submit "UPDATE", class: 'btn btn-primary w-100 text-center fw-semibold' %>
        <% else %>
          <%= form.submit "CREATE", class: 'btn btn-primary w-100 text-center fw-semibold' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

