<section class=" d-flex flex-column justify-content-center align-items-center bg-bodyBg" style="height: 100vh">
  <div class=" w-50">
    <%= render 'shared/form_title', locals:{title: 'Change Your Password' }%>
    <div class="form-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <% if resource.change_password %>
            <div class="field mt-3">
              <%= f.label :current_password, class: 'form-label' %>
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
            </div>
          <% end %>
          
          <div class="field mt-3">
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    
          </div>

          <div class="field mt-3">
            <%= f.label :password_confirmation, class: 'form-label' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="actions mt-3">
            <%= f.submit "Update", class: 'btn btn-primary w-100 text-center fw-semibold' %>
          </div>
        <% end %>
    </div>
  </div>
</section>




