<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th class="fw-bold">Category Name</th>
      <th class="fw-bold">Description</th>
      <th class="fw-bold">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @brand_categories&.each do |brand_category| %>
        <tr>
            <td>
                <p class="fw-normal mb-1"><%= brand_category.name %></p>
            </td>
            <td>
                <p class="fw-normal mb-1"><%= brand_category.description %></p>
            </td>
            <td class="">
                <%= link_to brand_category_path(brand_category) do  %>
                    <i class="bi bi-eye-fill" style="font-size: 1.2rem"></i>           
                <% end %>
            <% if current_user.management? %>
                    <%= link_to 'Edit', edit_brand_category_path(id: brand_category.id), class: 'btn btn-link btn-sm btn-rounded' %>
                    <%#= link_to 'Create', new_user_path, class: ' btn btn-link btn-sm btn-rouned' %>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="brandCategoryModalLabel<%= brand_category.id %>" data-bs-target="#brandCategoryModal<%= brand_category.id %>">
                        Delete
                    </button>
                    <!-- Modal -->
                <div class="modal fade" id="brandCategoryModal<%= brand_category.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="brandCategoryModalLabel<%= brand_category.id %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center fw-semibold">
                            Are you sure you want to delete this testimonial ? <%= brand_category.id %>
                        </div>
                        <div class="modal-footer">
                            <%= button_to "Delete", brand_category_path(brand_category), { class: 'btn btn-danger', method: :delete } %>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
            <% end %>

            </td>
        </tr>
  <% end %>

  </tbody>
</table>
<%= render 'shared/paginate_footer', locals: {items: @brand_categories} %>


