<%= render 'layouts/auth_layout' do %>
    <% if @user.persisted?%>
      <%= render 'shared/form_title', locals:{title: 'UPDATE USER' }%>
    <% else %>
        <%= render 'shared/form_title', locals:{title: 'CREATE USER' }%>
    <% end %>

    <div class="p-4">
        <%= form_with model: @user.persisted? ? @user : nil, url: @user.persisted? ? user_path(@user) : create_users_path, method: @user.persisted? ? :patch : :post do |form| %>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <%= form.label :email, "Email", class: 'form-label' %>
              <%= form.email_field :email, name: 'user[email]', placeholder: 'youremail@gmail.com', value: @user.email , required: true, class: 'form-control border border-1' %>
            </div>
              <!-- Name input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <%= render partial: 'shared/label_with_errors', locals: {form: form, record: @user, field_name: :name} %>
              <%= form.text_field :name, name: 'user[name]', placeholder: 'Name', value: @user.name , required: true, class: 'form-control border border-1 '%>
            </div>

                <!-- Department input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <%= form.label :department, "Department", class: 'form-label' %>
              <%= form.text_field :department, name: 'user[department]', placeholder: 'Marketing, HR, Etc...', value: @user.department, required: true, class: 'form-control border border-1 '%>
            </div>

                <!-- Title input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <%= form.label :title, "Title", class: 'form-label' %>
              <%= form.text_field :title, name: 'user[title]', placeholder: 'Title', required: true, value: @user.title , class: 'form-control border border-1 '%>
            </div>

                <!-- Position input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <%= form.label :position, "Position", class: 'form-label' %>
              <%= form.text_field :position, name: 'user[position]', placeholder: 'Position (Junior, Senior)', value: @user.position , required: true, class: 'form-control border border-1 '%>
            </div>

                <!-- Role input -->
            <div class="form-outline mb-4">
              <%= form.label :role, "Role", class: 'form-label' %>
              <%= form.select :role,  User.roles.keys.map { |role| [role.capitalize, role] }, { selected: @user.role, prompt: "Select User Role" },  { class: 'form-select', name: 'user[role]' } %>
            </div>
      

              <!-- Submit button -->
              <% if @user.persisted? %>
                <div class="actions mb-3">
                  <%= form.submit "UPDATE", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
                </div>
                <% else %>
                  <div class="actions mb-3">
                      <%= form.submit "CREATE", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
                </div>
              <% end %>

        <% end %>
    </div>

<% end %>