<%= render 'shared/navbar' %>
<%= render partial: 'page/landing/banner_carousel', locals: {banners: @banners} %>
<section class="partner-section " >
    <div class="partner-container row gap-x-10 ">
        <%# <h2 class="text-center text-pink fw-semibold custom-font">Our Partners</h2> %>
        <% @brand_categories&.each do |brand_category| %>
        <% unless brand_category.brand_partners.empty? %>
                <div class="partner-name">
                <%# <h4 class="text-center text-pink custom-font"><%= brand_category.name %>
                <div class=' row brand-card-container '>
                    <% brand_category.brand_partners.each do |brand_partner| %>
                        <div class=" col-6 col-md-3 brand-card bg-white border border-1 shadow  p-4  ">
                                <%= image_tag brand_partner.image, class: 'brand-image' if brand_partner.image.attached? %>
                                <p class="fw-semibold text-pink mt-2 mb-0"><%= brand_partner.name %></p>
                                <small class='text-muted pt-0 text-center px-4 text-truncate' style="max-width: 300px;">short description</small>
                        </div>
                        <div class=" col-6 col-md-3 brand-card bg-white border border-1 shadow  p-4  ">
                                <%= image_tag brand_partner.image, class: 'brand-image' if brand_partner.image.attached? %>
                                <p class="fw-semibold mt-2 mb-0"><%= brand_partner.name %></p>
                                <small class='text-secondary pt-0 text-center px-4 text-truncate' style="max-width: 300px;">short description</small>
                        </div>

                        <div class=" col-6 col-md-3 brand-card bg-white border border-1 shadow  p-4  ">
                                <%= image_tag brand_partner.image, class: 'brand-image' if brand_partner.image.attached? %>
                                <p class="fw-semibold mt-2 mb-0"><%= brand_partner.name %></p>
                                <small class='text-secondary pt-0 text-center px-4 text-truncate' style="max-width: 300px;">short description</small>
                        </div>

                            <div class=" col-6 col-md-3 brand-card bg-white border border-1 shadow  p-4  ">
                                <%= image_tag brand_partner.image, class: 'brand-image' if brand_partner.image.attached? %>
                                <p class="fw-semibold mt-2 mb-0"><%= brand_partner.name %></p>
                                <small class='text-secondary pt-0 text-center px-4 text-truncate' style="max-width: 300px;">short description</small>
                        </div>             
                    <% end %>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>
</section>
<%= render 'page/landing/footer' %>
