<%= render 'page/landing/banner_carousel' %>

<section class="partner-section row gap-x-10 my-5 w-75 mx-auto">
    <h2 class="text-center">Our Partners</h2>
    <% @brand_categories&.each do |brand_category| %>
    <% unless brand_category.brand_partners.empty? %>
            <div class="partner-name mt-3">
            <h4 class="text-center"><%= brand_category.name %></h4>
            <div class=' row gx-5  brand-card-container mt-4'>
                <% brand_category.brand_partners.each do |brand_partner| %>
                    <div class=" col-4 brand-card  p-3 mb-3 ">
                            <%= image_tag brand_partner.image, class: 'brand-image' if brand_partner.image.attached? %>
                            <p><%= brand_partner.name %></p>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
    <% end %>
</section>


<%= button_to "Logout", log_out_kings_yangon_users_path, method: :delete %>
