<div class="detail-container px-5">
      <%= render partial: 'shared/detail/header', locals: {title: "Contact Detail"} %>
      <%= render 'shared/detail/content_container' do %>
        <%= render 'shared/detail/content_body_container' do %>
            <% @contact.attributes.each do |column_name, value| %>
                <% if column_name == 'created_at' || column_name == 'updated_at' %>
                    <p class="row" >
                        <small class="col-lg-4"><%= column_name.capitalize %></small>
                        <small class="col-lg-8 fw-bold"><%= format_date(value) %></small>
                    </p>
                <% next %>
                <% end %>
                <p class="row" >
                    <small class="col-lg-4"><%= column_name.capitalize %></small>
                    <small class="col-lg-8 fw-bold"><%= value %></small>
                </p>
            <% end %>
        <% end %>
      <%= render partial: 'shared/detail/footer', locals: {return_path: contacts_path , edit_path: edit_contact_path(@contact) ,
     destroy_path: contact_path(@contact), record: @contact.student_name} %>
      <% end %>

</div>