<%= render 'layouts/auth_layout' do %>
      <%= render 'shared/form_title', locals:{title: 'Log In' }%>
    <div class="container p-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-3">
            <%= f.email_field :email, placeholder: 'Email' , class:'form-control', autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field mb-3">
            <%= f.password_field :password, placeholder: 'Password', class:'form-control', autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mb-3">
              <%= f.check_box :remember_me, class:'form-check-input' %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions mb-3">
            <%= f.submit "SIGN IN", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
          </div>
        <% end %> 

        <div class="d-flex justify-content-between">
          <%= link_to  root_path do %>
            <i class="bi bi-arrow-left text-primary"></i>   
            <span>Back</span>
          <% end %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
    </div>

<% end %>




