<div class="item-card col me-3 rounded  overflow-hidden  shadow ">
  <div class='item-carousel-container' >
    <%= render partial: 'shared/stimulus_carousel', locals: {images: item.images} %>
  </div>
  

  <%# for default carousel  %>


  <%# for default carousel %>
  <div class="item-card-body mt-2 p-3">
    <h4 class="text-capitalize fw-semibold"> <%= item.name %></h6>
    <p class="d-block mb-0 overflow-auto text-break" style="height: 50px">
      <%= item.content %>
    </p>
    <p class="d-block mb-0 mt-3">
      <span><%= item.price unless item.discount_percentage%></span>
      <span><%= calculate_percentage(item.price, item.discount_percentage) if item.discount_percentage %></span>
      <% if item.discount_percentage %>
        <span class="text-secondary"><del class="text-decoration-line-through"><%= item.price %></del></span>
      <% end %>
    </p>
  </div>

  <div class="item-footer p-3 d-flex justify-content-between">
    <%= link_to 'Edit', edit_brand_partner_item_path(@brand_partner, item), class: ' btn btn-secondary' %>
    <%= link_to 'delete', '#', class: 'btn btn-danger', data: { bs_toggle: 'modal', bs_target: "#deleteItemModal#{item.id}" } %>

    <%# delete modal  %>
            <div class="modal fade" id="deleteItemModal<%= item.id %>" tabindex="-1" aria-labelledby="deleteItemModal<%= item.id %>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteItemModal<%= item.id %>">Delete <%= item.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <%= render partial: 'shared/modal/modal_body', locals: {record: item.name}%>
                </div>
                <div class="modal-footer">
                  <%=  link_to 'Close', '#', class:'btn btn-secondary', data: {bs_dismiss: 'modal'}%>
                  <%= button_to 'Delete', brand_partner_item_path(@brand_partner, item), method: :delete, class: 'btn btn-danger'%>
                </div>
              </div>
            </div>
          </div>
    <%#= button_to 'Delete', brand_partner_item_path(@brand_partner, item), method: :destroy, class: 'btn btn-danger' %>
  </div>
</div>

