<%= render 'layouts/kings_auth_layout' do %>
    <%#= render 'shared/form_title', locals: {title: 'Sign In Kings Yangon User'} %>
    <h4 class="custom-font fs-3 fs-md-4 ps-3 fw-semibold text-white">Login</h4>
    <div class="mt-4">
        <%= form_with url: sign_in_kings_yangon_users_path, method: :post do |form| %>
        <!-- Email input -->
        <div data-mdb-input-init class="position-relative mb-4">
          <%= form.text_field :school_id, required: true, class: 'w-100 login-input ' %>
          <i class="bi bi-person position-absolute top-50 end-0 translate-middle-y px-4 text-white"></i>
        </div>
              <!-- Password input -->
              <div data-controller="password-visibility" data-mdb-input-init class="form-outline mb-4 position-relative ">
                  <%= form.password_field :password, autocomplete: 'off', data: { "password-visibility-target": "input" }, spellcheck: false, class: 'w-100 login-input  bg-transparent ' %>
                  <button type="button" data-action="password-visibility#toggle" class="btn p-0 shadow-none fs-3 position-absolute top-50 end-0 translate-middle-y px-4">
                    <span data-password-visibility-target="icon" class="text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </span>
                    <span data-password-visibility-target="icon" class="hidden text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>
                    </span>
                  </button>
              </div>

          <!-- Submit button -->
            <div class="actions my-4">
              <%= form.submit "Sign In", class: 'w-100 welcome-sign-in-btn bg-pink-opacity custom-font border-0 ' %>
            </div>

      <% end %>
    </div>
        <%= link_to  root_path, class:'ms-3' do %>
            <i class="bi bi-arrow-left text-white me-2"></i>   
            <span class="text-white">Back</span>
          <% end %>
<% end %>