<%= render 'shared/back_button' %>
<%= render 'layouts/auth_layout' do %>
    <% if @testimonial.persisted?%>
      <%= render 'shared/form_title', locals:{title: 'Update Testimonial' }%>
    <% else %>
        <%= render 'shared/form_title', locals:{title: 'Create Testimonial' }%>
    <% end %>
    <div class="p-3 form-container">
        <%= form_with(model: testimonial) do |form| %>

        <div class="mb-3">
          <%= render partial: 'shared/label_with_errors', locals: {form: form, field_name: :name, record: testimonial} %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :speech, style: "display: block", class: 'form-label' %>
          <%= form.text_area :speech, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :batch_year, style: "display: block", class: 'form-label' %>
          <%= form.select :batch_year, (2010..Date.current.year), {prompt: "Select Batch Year"},  {class: 'form-select'} %>
        </div>

        <div class="mb-3">
          <%= form.label :current_year_group, style: "display: block", class: 'form-label' %>
          <%= form.text_field :current_year_group, class: 'form-control' %>
        </div>

        <div class="mb-4">
          <% if testimonial.image.attached? %>
            <%= form.hidden_field :image, value: testimonial.image.signed_id %>
          <% end %>
          <%= form.label :image, style: "display: block", class: 'form-label' %>
          <%= form.file_field :image %>
        </div>

        <div class="mt-3">
          <% unless @testimonial.persisted?%>
              <%= form.submit "Create", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
          <% else %>
              <%= form.submit "Update", class: 'btn btn-primary w-100 text-center fw-semibold ' %>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>

