<!DOCTYPE html>
<html>
  <head>
    <title>KingsYangonAdminDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'css/mdb.min' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" %>
    <%= javascript_include_tag 'mdb.umd.min' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>

  <body>
    <% if user_signed_in?  %>
      <% unless current_user.change_password %>
        <%= yield %>
      <% else %>
        <%= render 'layouts/sidebar' %>
      <% end %>
    <% elsif user_signed_in_as_kyg? %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
